

// Fonts
$primary-font: Verdana, Arial, sans-serif;
$secondary-font: Georgia, "Times New Roman", serif;


// Colors
$primary-text-color: #2B2B2B;  // dark grey/light black - base text color
$secondary-text-color: #ACACAC;  // light grey
$tertiary-text-color: #FFFFFF;  // white

$primary-accent-color: #1988CC;  // blue - also primary link color
$secondary-link-color: #636363; // medium grey - used in secondary nav
$tertiary-link-color: #FFFFFF; // white
$navigation-link-color: #95DEF4;  // light blue - used for page descriptions in dropdown nav

$primary-button-color: #75B639; // green
$secondary-button-color: #989898; // grey


$default-border-radius: 5px 5px 5px 5px;






