
/* import any content partials here */
@import "content/homepage";

a,
a:link,
a:active {
	color: $primary-accent-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.visually-hidden {
	@extend %visuallyhidden;
}


/* ===================================================================== HEADERS */

.page-header {
	font-size: 22px;
}

.section-header {
	font-size: 18px;
}




/* ===================================================================== BUTTONS */

.button {
	@include border-radius($default-border-radius);
	background-color: $primary-button-color;
	color: $tertiary-text-color;
	padding: 5px 20px;

	&:hover {
		text-decoration: none;
	}

	&:active {

	}

}

/* container for buttons */
.buttons {
	float: left;
	margin: 15px 0;
	width: 100%;

	.button {
		float: left;
		margin-right: 25px;
	}
}

